$grid-columns = 3
@import 'nib'
@import '../bower_components/bootstrap-stylus/stylus/variables'
@import '../bower_components/bootstrap-stylus/stylus/mixins'
@import '../bower_components/bootstrap-stylus/stylus/grid'

.test123
  @extend .col-lg-1



